*{
  margin: 0;
  padding: 0;
}
body{
background-color: #FFFFFF
}
.container{
 width: 600px;
  border: 2px solid #262626;
  border-radius: 8px;
  margin-left:50%;
 transform: translateX(-50%);
 margin-top:20px;
}
h1{
  font-family:kanit;
  font-weight: 600;
  text-transform: capitalize;
  margin-left:28%;
  
  
}
h3{
  font-family: kanit;
  font-weight: 600;
   text-transform: capitalize;
   margin-left: 23%
}
label{
  font-family: kanit;
  font-weight: 600;
   text-transform: capitalize;
}
#container-text{
 margin-top: 8px; 
}
form{
  margin-top: 30px
}
.captain{
margin:20px;
}
#captain{
  border: 1px solid #646464;
  border-radius: 6px;
  padding-top:10px;
  padding-left: 6px;
 padding-bottom: 12px;
}
#cap-head{
  margin-left:38%;
}
input{
  border: 1px solid silver;
  border-radius: 4px;
  width:97%;
  max-width:99%;
  height:34px;
  margin-top: 8px;
  padding-left:6px;
  
}
.player2{
margin:20px;
}
#player2{
  border: 1px solid #646464;
  border-radius: 6px;
  padding-top:10px;
  padding-left: 6px;
 padding-bottom: 12px;

}
mark{
  background: #7900FF;color:white;
  
}
#two-head{
  margin-left:44%;
}
#three-head{
  margin-left:44%;
}#four-head{
  margin-left:44%;
}
.player3{
margin:20px;
}
#player3{
  border: 1px solid #646464;
  border-radius: 6px;
  padding-top:10px;
  padding-left: 6px;
 padding-bottom: 12px;
}
.player4{
margin:20px;
}
#player4{
  border: 1px solid #646464;
  border-radius: 6px;
  padding-top:10px;
  padding-left: 6px;
 padding-bottom: 12px;
}

#sub{
  border-radius: 2px;
  margin-bottom: 20px;
  margin-left:8px;
  font-family: kanit;
  background-color: #7541CE;
  color:white;
}

.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.dm-sans-uniquifier {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.kanit-extralight {
  font-family: "Kanit", sans-serif;
  font-weight: 900;
  font-style: normal;
}